POSTGRES_USER=transportation-systems
POSTGRES_NAME=transportation-systems-main
POSTGRES_HOST=54.202.102.40
POSTGRES_PASSWORD=Z6mHewT5He75
POSTGRES_PORT=5432
DJANGO_SECRET_KEY=h0ldon2th3nighT
DEBUG=true
