include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
recursive-include {{cookiecutter.python_package_namespace}} {{cookiecutter.python_subpackage}} *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
